* {
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family: 'Merriweather';
	src: local('Merriweather'),
		url(../fonts/Merriweather-BoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'muli';
	src: local('muli'), url(../fonts/Muli.ttf) format('truetype');
}
$white: #fff;
$dark: #000;
$gray: #afaaaa;
$green: #09a750;
$blue: #0b1f64;
$red: #c00;
$purple: #800080;
$anchor-font: 'muli';
$reqular-font: 'muli';

body {
	background-color: $white;
	font-family: $reqular-font;
}

a {
	color: inherit;
	text-decoration: none;
	font-family: $anchor-font;
	&:hover {
		padding-bottom: 5px;
	}
}

main {
	flex: 1 0 auto;
}
.nav-scroll {
	background-color: $white;
}
.nav-active {
	background-color: transparent;
}
nav {
	position: fixed;
	width: 100%;
	background-color: transparent;
	z-index: 10;
	color: $green;
	ul li {
		list-style: none;
		display: inline;
	}

	&:hover {
		background-color: $white;
		a {
			color: $blue;
		}
		.top-head {
			a {
				color: $gray;
				text-decoration: none;
			}
			i {
				transition: 1ms;
			}
		}
		.second-nav {
			.wrapper {
				.logo a {
					color: $blue;
				}
				i {
					color: $blue;
				}
				.nav-links li a {
					color: $blue;
				}
			}
		}
	}

	.top-head {
		padding-top: 10px;
		display: none;
		justify-content: space-between;
		font-size: 0.78rem;

		.top-head-item {
			border-right: 1px solid $gray;
			a {
				margin: 0 15px;
				&:hover {
					color: $blue;
				}
			}
		}
	}
	.drop-office {
		// position: absolute;
		display: none;
		background-color: $white;
		color: $dark;
		position: absolute;
		z-index: 1000;
		top: 40px;

		.office-items {
			margin-top: 20px;
			margin-bottom: 20px;
			border-right: 1px solid $gray;
			text-align: left;
			h4 {
				text-align: left;
			}
			a {
				&:hover {
					color: $blue;
				}
			}
		}
	}
	.capacity-overflow .mega-box .content {
		.row {
			overflow: auto;
		}
	}
	.sticky {
		position: fixed;
		top: 0;
		width: 100%;
	}
	.second-nav {
		.wrapper {
			position: relative;
			max-width: 1300px;
			padding: 0px 30px;
			height: 70px;
			line-height: 70px;
			margin: auto;
			display: flex;
			align-items: center;
		}
		.wrapper .logo a {
			color: $green;
			font-size: 30px;
			font-weight: 600;
			text-decoration: none;
			img {
				width: 154px;
				padding-bottom: 10px;
			}
		}
		i {
			cursor: pointer;
		}
		.wrapper .nav-links {
			display: none;
		}
		.nav-links li {
			list-style: none;
		}
		.nav-links li a {
			color: $green;
			text-decoration: none;
			font-size: 18px;
			font-weight: 500;
			padding: 9px 5px;
			border-radius: 5px;
			transition: all 0.3s ease;
		}
		.nav-links li:hover .drop-menu,
		.nav-links li:hover .mega-box {
			transition: all 0.3s ease;
			top: 58px;
			opacity: 1;
			visibility: visible;
		}
		.mega-box {
			position: absolute;
			left: 0;
			width: 100%;
			padding: 0 30px;
			top: 85px;
			opacity: 0;
			visibility: hidden;
		}
		.mega-box .content {
			background: $white;
			padding-top: 17px;
			padding-bottom: 40px;
			padding-left: 60px;
			width: 100%;
			a:hover {
				color: $red !important;
			}
			header {
				height: 30px;
				a {
					font-size: 15px;
					margin: 0px;
				}
			}
			ul li {
				list-style: none;
				display: block;
				height: 40px;
			}
			.mega-links {
				padding: 10px;
				li a {
					color: $gray !important;
					font-size: 13px;
					margin: 0px;
					&:hover {
						color: $red !important;
					}
				}
			}
		}
	}
}

.swiper {
	height: 100vh;
	.swiper-wrapper {
		height: 100vh;
		h4 {
			font-weight: bold;
		}
		p {
			margin-bottom: 35px;
		}
		a {
			border: 1px solid $white;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
			&:hover {
				color: $white;
				background-color: $blue;
				border: 1px solid $blue;
				transition: 0.5s;
			}
		}
		.swiper-slide {
			background-color: $gray;
			display: flex;
			align-items: center;
			color: $white;
			font-size: 18px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			// animation: zoom 6s linear infinite;
			&:nth-child(1) {
				background-image: linear-gradient(
						rgba(0, 0, 0, 0.7),
						rgba(0, 0, 0, 0.7)
					),
					url('../img/Digital\ Solutions.jpg');
			}
			&:nth-child(2) {
				background-image: linear-gradient(
						rgba(0, 0, 0, 0.7),
						rgba(0, 0, 0, 0.7)
					),
					url('../img/Customer\ Engagement\ Slide.jpg');
			}
			&:nth-child(3) {
				background-image: linear-gradient(
						rgba(0, 0, 0, 0.7),
						rgba(0, 0, 0, 0.7)
					),
					url('../img/Human\ Capital\ Slide.jpg');
			}
			&:nth-child(4) {
				background-image: linear-gradient(
						rgba(0, 0, 0, 0.7),
						rgba(0, 0, 0, 0.7)
					),
					url('../img/Research\ and\ Analytics\ slides.png');
			}
			&:nth-child(5) {
				background-image: linear-gradient(
						rgba(0, 0, 0, 0.7),
						rgba(0, 0, 0, 0.7)
					),
					url('../img/SME\ Advisory\ slide.jpg');
			}
		}
	}

	// @keyframes zoom {
	// 	0% {
	// 		transform: scale(1.3);
	// 	}
	// 	15% {
	// 		transform: scale(1);
	// 	}
	// 	85% {
	// 		transform: scale(1);
	// 	}
	// 	100% {
	// 		transform: scale(1.3);
	// 	}
	// }
}

nav input {
	display: none;
}
.body-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	padding: 0 30px;
}
.body-text div {
	font-size: 45px;
	font-weight: 600;
}

.side-nav {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	position: fixed;
	z-index: 10000;
	top: 0;
	display: none;
	transition: background 600ms;

	.side-container {
		background-color: $white;
		width: 85%;
		height: 100vh;
		overflow: auto;
		display: flex;
		transition: left 400ms;

		a {
			text-decoration: none;
			color: $green;
			img {
				width: 220px;
			}
		}
		.first-nav-element {
			list-style: none;
			padding-left: 5px;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				a {
					font-size: 30px;
					color: $green;
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}

		.about-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			transition: cubic-bezier(0.075, 0.82, 0.165, 1);
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $blue;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.people-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $purple;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.capabilties-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $blue;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.organize-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $purple;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.leadership-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $red;
					&:hover {
						color: $green;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.human-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $blue;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.customer-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $blue;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.sme-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $blue;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.digital-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $blue;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.research-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $blue;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.product-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					color: $blue;
					&:hover {
						color: $red;
					}
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.industrial-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.insights-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
		.careers-nav-element {
			list-style: none;
			padding-left: 5px;
			display: none;
			.logo {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid $gray;
				width: 100%;

				a {
					font-size: 13px;
					color: $gray;
					font-weight: bold;
					i {
						transform: rotate(85deg);
						color: $gray;
					}
				}
			}

			.side-item {
				padding-top: 20px;
				padding-bottom: 20px;
				a {
					font-size: 13px;
					font-weight: bold;
					i {
						transform: rotate(-85deg);
						color: $gray;
					}
				}
			}
		}
	}

	.close {
		background-color: $red;
		padding: 10px 20px 10px 20px;
		color: #fff;
		width: 50px;
		height: 50px;
		font-size: 18px;
		cursor: pointer;
	}
}

@import 'home';
@import 'footer';

@media (min-width: 1000px) {
	nav {
		.top-head {
			display: flex;
		}
		.second-nav {
			.wrapper .nav-links {
				display: inline-flex;
			}
		}
	}
	.side-nav .side-container {
		width: 25%;
	}

	.banner {
		height: 100vh;

		.slider {
			height: 100vh;
			#slideImg {
				height: 100%;
			}
		}
		.overlay {
			height: 100vh;
		}
	}
}
